
<launch>
  <param name="/use_sim_time" value="true" />
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory /home/lyy/ros1_ws/src/bring_up/configuration_files
          -configuration_basename my_cart.lua"
      output="screen">
    <remap from="/scan_1" to="/scan_1" />
    <remap from="/scan_2" to="/scan_2" />
    <!-- <remap from="/scan" to="/scan"/> -->
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.03" />

  <node name="rviz" pkg="rviz" type="rviz" required="true"  
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />  
</launch>

