<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>

  <include file="$(find yocs_velocity_smoother)/launch/standalone.launch">
  </include>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam file="$(find mbot_navigation)/config/mbot/turtlebot3/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mbot_navigation)/config/mbot/turtlebot3/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mbot_navigation)/config/mbot/turtlebot3/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mbot_navigation)/config/mbot/turtlebot3/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mbot_navigation)/config/mbot/turtlebot3/move_base_params.yaml" command="load" />
    <rosparam file="$(find mbot_navigation)/config/mbot/turtlebot3/dwa_local_planner_params_$(arg model).yaml" command="load" />
    <!--rosparam file="$(find mbot_navigation)/config/mbot/turtlebot3/base_local_planner_params.yaml" command="load" /-->
  </node>
</launch>
